{% raw %}{% extends "dj_control_room_base/panel_base.html" %}
{% load i18n static %}

{% block panel_title %}{{ title|default:"{% endraw %}{{ cookiecutter.django_app_verbose_name }}{% raw %}" }}{% endblock %}

{% block panel_branding %}
<h1 id="site-name"><a href="{% url '{% endraw %}{{ cookiecutter.package_name }}{% raw %}:index' %}">{% endraw %}{{ cookiecutter.django_app_verbose_name }}{% raw %}</a></h1>
{% endblock %}

{% block panel_breadcrumbs %}
&rsaquo; {% trans "{% endraw %}{{ cookiecutter.django_app_verbose_name }}{% raw %}" %}
{% endblock %}

{% block panel_scripts %}
{{ block.super }}
<link rel="stylesheet" href="{% static '{% endraw %}{{ cookiecutter.package_name }}{% raw %}/css/styles.css' %}">
{% endblock %}

{% block panel_content %}
{% endblock %}{% endraw %}
